.otherheaderinfo,
.info-profile {
    display: flex;
    align-items: center;
}

.notification-icon,
.setting-icon,
.profile-img,
.profile-name {
    cursor: pointer;
}


.setting-icon,
.notification-icon {
    font-size: 1.5rem;
    color: #B1B0B1;
    border: 1px solid #B1B0B1;
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
    line-height: 1;
    margin-left: 1rem;
}

.notification-icon {
    position: relative;
}

.dot {
    position: absolute;
    height: 0.6rem;
    width: 0.6rem;
    bottom: 0.2rem;
    left: 1.1rem;
    border-radius: 80%;
    background-color: red;
}

.profile-img img {
    margin-left: 1rem;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
}

.profile-name {
    font-size: 1.6rem;
    color: #6C6C6D;
    font-weight: 600;
    margin-left: 1rem;
}

@media screen and (max-width:768px) {
    .info-profile {
        margin-left: auto;
    }

    .setting-icon,
    .notification-icon {
        font-size: 2rem;
        margin-left: 2rem;
    }

    .profile-img img {
        margin-left: 2rem;
    }

    .dot {
        left: 1.3rem;
    }
}