.pagedetails {
    display: grid;
    overflow: auto;
    gap: 4rem;
    margin: 2rem 4rem 0 4rem;
}

.pagedetails::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pagedetails {
        margin: 2rem 3rem 0 3rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .pagedetails {
        margin: 1.6rem 2rem 0 2rem;
        gap: 1.6rem;
    }
}

@media screen and (max-width: 430px) {
    .pagedetails {
        grid-template-columns: repeat(5, 25rem) !important;
    }
}

@media screen and (max-width:370px) {
    .pagedetails {
        margin: 1.6rem 1.2rem 0 1.2rem;
        gap: 1rem;
        /* grid-template-columns: repeat(5, 27rem) !important; */
    }
}