.main-header-option {
    margin: 1.4rem 5rem;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {
    .main-header-option {
        margin: 1.4rem 4rem;
    }
}

@media screen and (max-width: 900px) {
    .main-header-option {
        margin: 1.4rem 3rem;
    }
}

.main-header-option,
.taks-update-detail,
.task-detail-option,
.list-option {
    display: flex;
    align-items: center;
}

.task-update-title,
.task-opt-title,
.option-icon,
.taks-update-detail {
    color: #6C6C6D;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.8;
    cursor: pointer;
}

.option-icon,
.clock-icon {
    font-size: 1.6rem;
    padding-right: 0.8rem;
}

.list-option:not(:last-child) {
    margin-right: 2rem;
}

.list-option:last-child {
    margin-right: 1.2rem;
}

.task-opt-title-selected,
.option-icon-selected {
    color: #3d3d3d !important;
    font-weight: 600;
}

.list-option:not(:nth-child(3)):hover .task-opt-title,
.list-option:not(:nth-child(3)):hover .option-icon {
    color: #3d3d3d;
}

@media screen and (max-width: 580px) {
    .main-header-option {
        flex-direction: column;
        gap: 1rem;
    }

    .taks-update-detail,
    .task-detail-option {
        margin-right: auto;
    }

    .task-detail-option {
        margin-top: 1rem;
        margin-bottom: -0.5rem !important;
    }
}

@media screen and (max-width: 415px) {
    .main-header-option {
        margin: 1.4rem 1.6rem;
    }
}

@media screen and (max-width: 400px) {
    .task-detail-option {
        flex-wrap: wrap;
    }

    .list-option {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 392px) {
    .task-detail-option {
        margin-bottom: -2rem !important;
    }
}

@media screen and (max-width: 370px) {
    .main-header-option {
        margin: 1.4rem 1.2rem;
    }
}