.pagenavigation {
    margin: 2rem 5rem 0 3rem;
    display: flex;
    /* border-bottom: 1.8px solid #b1b0b166; */
}

.option-pages {
    padding: 1rem 2rem 1.2rem 2rem;
}

.option-page-title {
    color: #6C6C6D;
    font-weight: 500;
    font-size: 1.6rem;
}

.option-pages:hover,
.option-page-selected {
    margin-bottom: -0.15rem;
    color: #3d3d3d;
    border-bottom: 1.8px solid #3d3d3d;
    cursor: pointer;
}

.option-page-title-selected {
    margin-bottom: -0.15rem;
    color: #3d3d3d;
}