.proj-selec-container {
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    border: solid 1px #b1b0b166;
    border-radius: 1.2rem;
    margin: 0 2rem;
    cursor: pointer;
    position: relative;
}

.drop-item {
    display: flex;
    align-items: center;
}

.proj-logo {
    color: #2B9CF4;
    font-size: 3rem;
    padding-right: 1rem;
    line-height: 1;
}

.proj-title-container {
    display: flex;
    align-items: center;
    color: #6C6C6D;
    font-size: 1.4rem;
}

.proj-title {
    margin-right: 0.4rem;
    font-weight: 500;
}

.proj-member {
    color: #B1B0B1;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FBFAFB;
    border: 1px solid #b1b0b166;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
}

.proj-selec-container:hover .dropdown-content,
.proj-selec-container:focus-within .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 0.7rem 1rem;
    color: #6C6C6D;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}